mat-list-item a {
    padding-left: 1em;

    &:link {
        text-decoration: none;
        color: black;
    }

    &:hover {
        background: lightgray;
    }
}

mat-list {
    width: 85%;
}

span.left {
    margin-left: 0;
    margin-right: auto;
}

span.right {
    margin-right: 0;
    margin-left: auto;
}

button.logout-btn {
    float: right;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 0;

    &:hover {
        background-color: red;
        color: white;
    }
}

mat-expansion-panel.create-new-build {
    width: 50%;
}

button.delete {
    &:hover {
        background-color: red;
        color: white;
    }
}