<header>
  <div class="container">
    <a routerLink="/" class="logo">Builder Paradise</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/login">Login</a></li>
        <li><a href="#" routerLink="/deal">Hot Deals</a></li>
        <li><a href="#" routerLink="/search">Search</a></li>
        <li><a href="#" routerLink="/profile">My Profile</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>