.container {
    width: 50%;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

    mat-form-field {
        width: 75%
    }

    mat-card-actions {

        button {
            float: right;
            margin-right: 3em;

            &:hover {
                background-color: green;
                color: white;
            }
        }
    }
    
    span.clickable {
        &:hover {
            background-color: lightgray;
        }
    }
}

