span {
  margin-left: 0;
  margin-right: auto;
}

span.occurance {
  left: 50%;
  right: 50%;

}

span.label {
  margin: auto;
}

.searchbar {
  margin-top: 3em;
}


a {
  padding-left: 1em;

  &:link {
    text-decoration: none;
    color: black;
  }

  &:hover {
    background: lightgray;
  }


}

table {
  width: 100%;

  button {
    float: right;
    margin-left: auto;
    margin-right: 0;
  }

}