<h1 *ngIf='keyword==""'>Parts Featured In Most Builds</h1>

<div class="container">
    <div class="searchbar">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Keyword" (keyup)="searchParts($event.target.value)">
        </mat-form-field>
    </div>

    <!-- <mat-list *ngIf='keyword=="" else elseBlock'>
        <mat-list-item><span class="label">Name</span><span class="label">Occurance In Builds</span><span class="label"> </span></mat-list-item>
        <mat-divider></mat-divider>
        <div *ngFor='let part of parts'>
            <mat-list-item><span><a routerLink="../part/{{ part.partNo }}"> {{ part.partName }} </a></span><span class="occurance">
                    {{ part.occurance }} </span><button mat-button (click)='addToFav(part.partNo)'>Add</button></mat-list-item>
            <mat-divider></mat-divider>
        </div>

    </mat-list>

    <ng-template #elseBlock>
        <mat-list>
            <mat-list-item><span class="label">Name</span><span class="label">Specs</span><span class="label"> </span></mat-list-item>
            <mat-divider></mat-divider>
            <div *ngFor='let part of parts'>
                <mat-list-item><span><a routerLink="../part/{{ part.partNo }}"> {{ part.partName }} </a></span><span>
                        {{ part.specs }} </span><button mat-button (click)='addToFav(part.partNo)'>Add</button></mat-list-item>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
    </ng-template> -->

    <table mat-table [dataSource]="parts" class="mat-elevation-z8" *ngIf='keyword=="" else elseBlock'>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let part"><a routerLink="../part/{{ part.partNo }}"> {{ part.partName }} </a></td>
        </ng-container>

        <ng-container matColumnDef="occurance">
            <th mat-header-cell *matHeaderCellDef> Occurance In Builds </th>
            <td mat-cell *matCellDef="let part"> {{part.occurance}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let part"><button mat-button (click)='addToFav(part.partNo)'>Add To Favourite</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <ng-template #elseBlock>
        <table mat-table [dataSource]="parts" class="mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let part"><a routerLink="../part/{{ part.partNo }}"> {{ part.partName }} </a></td>
            </ng-container>

            <ng-container matColumnDef="specs">
                <th mat-header-cell *matHeaderCellDef> Specs </th>
                <td mat-cell *matCellDef="let part"> {{part.specs}} </td>
            </ng-container>

            <ng-container matColumnDef="button">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let part"><button mat-button (click)='addToFav(part.partNo)'>Add To Favourite</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsSearch"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSearch;"></tr>
        </table>
    </ng-template>


</div>