mat-list {

    list-style-type: none;
}

mat-list-item a {
    padding-left: 1em;

    &:link {
        text-decoration: none;
        color: black;
    }

    &:hover {
        background: lightgray;
    }
}